%footer

	%div{"data-container" => "width_740"}

		%nav.nav_secondary.clearfix

			%ul.nav_benefits{"data-column" => "one"}
				%li.nav_title Features &amp; Benefits
				%li.nav_link
					%a{:href => "http://www.versature.com/features/standard-features", :title => "Standard Features"} Standard Features
				%li.nav_link
					%a{:href => "http://www.versature.com/features/optional-features", :title => "Optional Features"} Optional Features
				%li.nav_link
					%a{:href => "http://www.versature.com/features/conferencing-service", :title => "Conferencing"} Conferencing
				%li.nav_link
					%a{:href => "http://www.versature.com/features/phone-number-availability", :title => "Can I keep my Phone Number"} Can I keep my Phone Number?
				%li.nav_link
					%a{:href => "http://www.versature.com/business-phones", :title => "Vesature VoIP Phones"} Vesature VoIP Phones
				%li.nav_link
					%a{:href => "http://www.versature.com/features/sla-and-return-policy", :title => "Money Back Guarantee"} Money Back Guarantee

			%ul.nav_resources{"data-column" => "two"}
				%li.nav_title Resources
				%li.nav_link
					%a{:href => "http://www.versature.com/resources/about-hosted-pbx", :title => "What is Hosted PBX"} What is Hosted PBX
				%li.nav_link
					%a{:href => "http://www.versature.com/resources/faqs", :title => "Frequently Asked Questions"} Frequently Asked Questions
				%li.nav_link
					%a{:href => "http://www.versature.com/resources/customer-stories-reviews-and-testimonials", :title => "Testimonials"} Testimonials
				%li.nav_link
					%a{:href => "http://www.versature.com/611-online-customer-support", :title => "611 Online"} 611 Online
				%li.nav_link
					%a{:href => "http://www.versature.com/sonar", :title => "Sonar Login"} Sonar Login

			%ul.nav_versature{"data-column" => "three"}
				%li.nav_title Versature
				%li.nav_link
					%a{:href => "http://www.versature.com/about/contact-us", :title => "Contact Us"} Contact Us
				%li.nav_link
					%a{:href => "http://www.versature.com/about/news-and-media-centre", :title => "Media Resources"} Media Resources
				%li.nav_link
					%a{:href => "http://www.versature.com/about/our-history", :title => "Our History"} Our History
				%li.nav_link
					%a{:href => "Jobs", :title => "Jobs"} Jobs
				%li.nav_link
					%a{:href => "http://inside.versature.com/2013/08/the-versature-vibe-what-its-like-to-work-for-ottawas-hosted-pbx-company-3/?_ga=1.201926801.1047071473.1432060555", :title => "Vesature Vibe"} Vesature Vibe
				%li.nav_link
					%a{:href => "http://inside.versature.com/?_ga=1.201926801.1047071473.1432060555", :title => "ConVERSAtion, our Blog"} ConVERSAtion, our Blog

			%ul.nav_social{"data-column" => "four"}
				%li.nav_title Social
				%li.nav_link
					%a{:href => "http://www.facebook.com/versature/", :title => "Facebook", :target => "_blank"}
						%svg.social_facebook{:viewBox => "0 0 64 64"}
							%use{"xlink:href" => "#social_facebook"}
						Facebook
				%li.nav_link
					%a{:href => "http://www.twitter.com/versature/", :title => "Twitter", :target => "_blank"}
						%svg.social_facebook{:viewBox => "0 0 64 64"}
							%use{"xlink:href" => "#social_twitter"}
						Twitter
				%li.nav_link
					%a{:href => "http://www.youtube.com/versaturecorp/", :title => "YouTube", :target => "_blank"}
						%svg.social_youtube{:viewBox => "0 0 64 64"}
							%use{"xlink:href" => "#social_youtube"}
						YouTube
				%li.nav_link
					%a{:href => "https://plus.google.com/+Versature", :title => "Google Plus", :target => "_blank"}
						%svg.social_gplus{:viewBox => "0 0 64 64"}
							%use{"xlink:href" => "#social_gplus"}
						Google+
				%li.nav_link
					%a{:href => "http://www.linkedin.com/company/versature/", :title => "Linked In", :target => "_blank"}
						%svg.social_linkedin{:viewBox => "0 0 64 64"}
							%use{"xlink:href" => "#social_linkedin"}
						LinkedIn

		:plain
			<p>Call <a href="tel:+1-877-498-3772" title="1 (877) 498-3772">1 877.49.VERSA</a> or email <a href="mailto:sales@versature.com" title="Email Us">sales@versature.com</a>.</p>
			<p>Copyright &copy; 2014 Versature. All rights reserved.</p>