%header

	%div{"data-container" => "width_640"}

		%nav.nav_primary
			%ul
				%li
					%a{:href => "http://www.versature.com/features-and-benefits", :title => "Features"} Features
				%li
					%a{:href => "http://www.versature.com/plans-and-pricing", :title => "Pricing"} Pricing
				%li
					%a{:href => "http://www.versature.com/business-phones", :title => "Phones"} Phones
				%li
					%a{:href => "http://www.versature.com/611-online-customer-support", :title => "Support"} Support

		%a.wrap_svg{:href => "http://versature.com/", :title => "Versature"}
			%h1.visuallyhidden Versature
			%svg.logo_versature{:viewBox => "0 0 64 30"}
				%use{"xlink:href" => "#logo_versature"}

		%h2 Make the Switch from Netcelerate to Versature

		%p Looking for a reliable solution that is trusted by more than 7000 subscribers across Canada? Versature is steadily building a reputation as the go-to provider for Hosted PBX in Canada. Contact one of our Account Managers to get started.

		%h3
			%a{:href => "tel:+1-877-498-3772", :title => "1 (877) 498-3772"} 1-877-498-3772